<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Street vs Dirt</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1>Street vs Dirt Bikes</h1>
      <p>
        Are you looking to buy a street bike or a dirt bike?
      </p>
      <p>
        If you would like to see the list of
        <strong>Street Bikes</strong>, please add /streetbikes
        to the end of the url in your browser.
      </p>
      <p>
        If you would like to see the list of <strong>Dirt Bikes</strong>,
        please add /dirtbikes to the end of the url in your browser.
      </p>
    </div>

  </body>
</html>